<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="REST Assured API Test Suite" parallel="false" thread-count="1" verbose="2">

    <!-- Booking API Tests -->
    <test name="Booking API Tests" enabled="true">
        <classes>
            <class name="com.qa.api.tests.BookingAPITest">
                <methods>
                    <include name="testCreateBookingWithValidData"/>
                    <include name="testGetBookingById"/>
                    <include name="testGetAllBookings"/>
                    <include name="testHealthCheck"/>
                    <include name="testCreateBookingMinimalData"/>
                    <include name="testCreateBookingWithAdditionalNeeds"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Authentication Tests -->
    <test name="Authentication Tests" enabled="true">
        <classes>
            <class name="com.qa.api.tests.AuthenticationTest">
                <methods>
                    <include name="testAuthenticateUserWithValidCredentials"/>
                    <include name="testAuthTokenFormat"/>
                    <include name="testHealthCheckEndpoint"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
